* {
  margin: 0px;
  box-sizing: border-box;
}

/* login = async () => {
    const apiUrl =
      "https://bursting-gelding-24.hasura.app/api/rest/get-user-id";
    const loginDetails = {
      email: "jane.doe@gmail.com",
      password: "janedoe@123",
    };
    const options = {
      method: "GET",
      headers: {
        "content-type": "application/json",
        "x-hasura-admin-secret":
          "g08A3qQy00y8yFDq3y6N1ZQnhOPOa4msdie5EtKS1hFStar01JzPKrtKEzYY2BtF",
      },
      body: JSON.stringify(loginDetails),
    };
    const response = await fetch(apiUrl, options);
    const data = await response.json();
    console.log(data);
  }; */
